html, body {
	height: 100%;
}

.container-fluid {
	position: relative;
	padding: 0;
}

ul {
	list-style-type: none;
}

div form.navbar-form input[type="text"], div form.navbar-form input[type="number"] {
	width: 100%;
}

footer.footer-style {
	padding: 0;
	color: #F4F4F4;
	background-color: #1F2020;
}